.ui-header{
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.3rem;
    background: #FFFFFF;
    text-align: center;
    color: #363636;
}
.ui-header .ui-back{
  width: 1.5rem;
  height: 0.7rem;
  position: relative;
}
.ui-header .ui-back i{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.2rem;
  line-height: 0.7rem;
}
