#join{
  height: 30rem;
  overflow: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.clearfix { display:block; }
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.section{
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  font-size: 10rem;
  background: #ABCDEF;
}

.footer{
  height: 1rem;
  background: #6d6e71;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 6;
}
