* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-touch-action: none;
}

body,ul,li {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-size: 12px;
  font-family: ubuntu, helvetica, arial;
  overflow: hidden; /* this is important to prevent the whole page to bounce */
}

#footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background: #FFFFFF;
  padding: 0;
  text-align: center;
  line-height: 1rem;
  font-size: 0.3rem;
}

.footerId {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background: #FFFFFF;
  padding: 0;
  text-align: center;
  line-height: 1rem;
  font-size: 0.3rem;
}
.footerId .show-voice{
  background: url("../image/voice.png") no-repeat;
  background-size: 100%;
  width: 0.6rem;
  height: 0.6rem;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.2rem;
}
.footerId .show-plus{
  background: url("../image/plus.png") no-repeat;
  background-size: 100%;
  width: 0.6rem;
  height: 0.6rem;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.2rem;
}
.footerId .show-input{
  display: inline-block;
  position: absolute;
  width: 4.88rem;
  border-bottom: 1px solid #ddd;
  bottom: 0.18rem;
  left: 0.9rem;
}
.footerId .show-smile{
  background: url("../image/smile.png") no-repeat;
  background-size: 100%;
  width: 0.6rem;
  height: 0.6rem;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 1rem;
}
.footerId .footerCen{
  background: #444;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  z-index: 111;
  height: 1.1rem;
  display: none;
}
#wrapper {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 1rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrappers {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 1rem;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#scroller {
  position: absolute;
  z-index: 99;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
/*  height: 21.22rem;*/
  background: none
}
#scrollers {
  position: absolute;
  z-index: 99;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
  background: none
}

#scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

#scroller li {
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
  background-color: #fafafa;
  font-size: 14px;
}
.ui-show-step1{
  color: #FFF;
  background: #ccc;
  font-size: 0.28rem;
  text-align: center;
  margin: auto;
  width: 0.75rem;
  border-radius: 0.05rem;
}
.ui-show-step2{
  color: #FFF;
  background: #ccc;
  font-size: 0.28rem;
  text-align: center;
  margin: auto;
  width: 80%;
  padding: 0.05rem 0.15rem;
  border-radius: 0.05rem;
  margin-top: 0.3rem;
}
.ui-show-step2 span{
  color: cornflowerblue;
}
.ui-show-step3{
  margin-top: 0.3rem;
}
.ui-show-step3 .show-left{
  float: left;
  //background: url('../image/logo.jpg') no-repeat;
  background-size: 100%;
  width: 1rem;
  height: 1rem;
  margin-left: 0.15rem;
}
.ui-show-step3 .show-right{
  float: left;
  margin-left: 0.25rem;
  width: 60%;
}
.ui-show-step3 .show-right .show-person{
  font-size: 0.28rem;
  color: #999;
  margin-top: 0.05rem;
}
.ui-show-step3 .show-right .show-img-01{
  background: url('../image/group/iamge1.jpg') no-repeat;
  background-size: 100%;
  width: 3.84rem;
  height: 2.55rem;
  margin-top: 0.2rem;
  border-radius: 0.05rem;
}
.ui-show-step3 .show-right .show-img-02{
  background: url('../image/group/iamge2.jpg') no-repeat;
  background-size: 100%;
  width: 2.7rem;
  height: 3.98rem;
  margin-top: 0.2rem;
  border-radius: 0.05rem;
}
.ui-show-step3 .show-right .show-img-03{
  background: url('../image/group/iamge3.jpg') no-repeat;
  background-size: 100%;
  width: 2.56rem;
  height: 4.54rem;
  margin-top: 0.2rem;
  border-radius: 0.05rem;
}
.ui-show-step3 .show-right .show-img-04{
  background: url('../image/group/iamge4.jpg') no-repeat;
  background-size: 100%;
  width: 3.86rem;
  height: 2.56rem;
  margin-top: 0.2rem;
  border-radius: 0.05rem;
}
.ui-show-step3 .show-right .show-img-05{
  background: url('../image/group/iamge5.jpg') no-repeat;
  background-size: 100%;
  width: 3.95rem;
  height: 2.53rem;
  margin-top: 0.2rem;
  border-radius: 0.05rem;
}
.ui-show-step3 .show-right .show-img-06{
  background: url('../image/group/iamge6.jpg') no-repeat;
  background-size: 100%;
  width: 3.93rem;
  height: 2.53rem;
  margin-top: 0.2rem;
  border-radius: 0.05rem;
}
.ui-show-step3 .show-right .show-img-07{
  background: url('../image/group/iamge7.jpg') no-repeat;
  background-size: 100%;
  width: 3.93rem;
  height: 2.52rem;
  margin-top: 0.2rem;
  border-radius: 0.05rem;
}
.ui-show-step3 .show-right .show-img-08{
  background: url('../image/group/iamge8.jpg') no-repeat;
  background-size: 100%;
  width: 3.93rem;
  height: 2.52rem;
  margin-top: 0.2rem;
  border-radius: 0.05rem;
}

.clearfix { display:block; }
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
#scroller .step{
  display: none;
}

.ui-show-step3 .show-right .show-text{
  font-size: 0.28rem;
  background: #FFF;
  padding: 0.05rem 0.15rem;
  border-radius: 0.05rem;
  margin-top: 0.2rem;
}
.ui-show-step4{
  color: #FFF;
  background: #ccc;
  font-size: 0.28rem;
  text-align: center;
  margin: auto;
  width: 2.8rem;
  padding: 0.05rem;
  border-radius: 0.05rem;
  margin-top: 0.5rem;
}
.ui-show-step4 span{
  color: cornflowerblue;
}
#join .ui-show-alert {
  position: fixed;
  z-index: 101;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5.5rem;
  text-align: center;
  background: #FFFFFF;
  height: 3.8rem;
  border-radius: 0.07rem;
}
#join .ui-show-cen{

  background: url("../image/cen.png") no-repeat center #444;
  width: 100%;
  height: 100%;
  background-size: contain;
  position: absolute;
  z-index: 100;
  opacity: 0.6;
  top: 0;
}
#join .ui-show-alert  .alert-title{
  font-size: 0.3rem;
  margin-top: 0.9rem;
  line-height: 0.35rem;
  font-weight: bold;
}
#join .ui-show-alert  .alert-middle{
  font-size: 0.32rem;
}
#join .ui-show-alert  .alert-content{
  font-size: 0.3rem;
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
}
#join .ui-show-alert  .alert-content span{
  color: red;
  font-size: 0.35rem;
  font-weight: bold;
}
#join .ui-show-alert  .alert-btn{
  font-size: 0.3rem;
  border-top: 1px solid #EEE;
  line-height: 0.78rem;
  color: #008000;
}
.last-cen{
  display: none;
  height: 100%;
}
#process .ui-show-cen{
  opacity: 0;
  background: none !important;
}
.box-one{
  background: url("../image/shareback/1.jpg") no-repeat;
  width: 100%;
  min-height: 13.34rem;
  height: 100%;
  background-size: cover;
}
.box-two{
  background: url("../image/shareback/2.jpg") no-repeat;
  width: 100%;
  min-height: 13.34rem;
  height: 100%;
  background-size: cover;
}
.box-three{
  background: url("../image/shareback/3.jpg") no-repeat;
  width: 100%;
  min-height: 13.34rem;
  height: 100%;
  background-size: cover;
}
.box-four{
  background: url("../image/shareback/4.jpg") no-repeat;
  width: 100%;
  min-height: 13.34rem;
  height: 100%;
  background-size: cover;
}
.box-five{
  background: url("../image/shareback/5.jpg") no-repeat;
  width: 100%;
  min-height: 13.34rem;
  height: 100%;
  background-size: cover;
}
#process .ui-show-step5 .ui-show-alert{
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5.5rem;
  text-align: center;
  background: #FFFFFF;
  height: 3.8rem;
  border-radius: 0.07rem;
}
#process .ui-show-step5 .ui-show-cen{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background: #444;
  opacity: 0.6;
  top: 0;
}
#process .ui-show-step5 .ui-show-alert .alert-title{
  font-size: 0.25rem;
  margin-top: 0.6rem;
  line-height: 0.35rem;
}
#process .ui-show-step5 .ui-show-alert .alert-middle{
  font-size: 0.32rem;
}
#process .ui-show-step5 .ui-show-alert .alert-content{
  font-size: 0.25rem;
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
}
#process .ui-show-step5 .ui-show-alert .alert-content span{
  color: red;
  font-size: 0.35rem;
  font-weight: bold;
}
#process .ui-show-step5 .ui-show-alert .alert-btn{
  font-size: 0.3rem;
  border-top: 1px solid #EEE;
  line-height: 0.78rem;
  color: #008000;
}

#process .ui-content{
  font-size: 0.35rem;
  height: 2.5rem;
}
#process .ui-content i{
  font-style: normal;
  font-size: 0.35rem;
}
#process .ui-content .font-one{
  margin-top: 0.5rem;
}
#process .ui-content .font-two{
  font-size: 0.35rem;
  margin-top: 0.4rem;
  font-weight: bold;
}
#process .ui-content .font-three{
  margin-top: 0.25rem;
}
#process .ui-content .font-four{
  font-size: 0.3rem;
  margin-top: 0.4rem;
}
#process .ui-content .font-five{
  font-size: 0.35rem;
  margin-top: 0.2rem;
  font-weight: bold;
}
#process .ui-content .font-six{
  font-size: 0.24rem;
  margin-top: 0.05rem;
}
#process .ui-content .font-four i{
  font-weight: bold;
  font-size: 0.35rem;
}
#process .ui-content .font-seven{
  font-size: 0.35rem;
  margin-top: 0.6rem;
}
#process .ui-content .font-eight{
  font-size: 0.3rem;
  margin-top: 0.6rem;
  font-weight: bold;
}
#process .ui-content .font-seven i{
  color: green;
  font-size: 0.35rem;
}
#process .ui-color-red{
  color: red;
}

