.main{
  background: #FFF;
  height: auto;
  font-size: 0.32rem;
  padding-top: 0.8rem;
}
.main .ui-logo{
  background: url('../image/img.jpg') no-repeat;
  background-size: 100%;
  width: 2rem;
  height: 2rem;
  margin: auto;
  padding-bottom: 0.3rem;
}
.main .ui-title{
  text-align: center;
  font-size: 0.3rem;
  margin-bottom: 0.15rem;
}
.main .ui-num{
  text-align: center;
  font-size: 0.24rem;
  color: #999;
  padding-bottom: 0.5rem;
}
#app {
  position:absolute;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  top:0;
  left:0;
  bottom:0;
  right:0
}
