.main{
  background: #FFF;
  height: auto;
  font-size: 0.35rem;
  padding-top: 0.8rem;
}
#wrappers {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 1rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#scrollers {
  position: absolute;
  z-index: 99;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  background: none
}
.main .ui-logo{
  background: url('../image/img2.jpg') no-repeat;
  background-size: 100%;
  width: 1.7rem;
  height: 1.7rem;
  margin: auto;
  padding-bottom: 0.3rem;
  margin-bottom: 0.3rem;
}
.main .ui-title{
  text-align: center;
  font-size: 0.42rem;
  margin-bottom: 0.15rem;
}
.main .ui-num{
  text-align: center;
  font-size: 0.42rem;
  color: #999;
  padding-bottom: 0.5rem;
}
#main{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
[v-cloak]{ display: none !important; }

.ui-footer{
  font-size: 0.3rem;
  text-align: center;
  width: 100%;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background: #F0EFF4;
  border-top: 1px solid #DDD;
}
.ui-footer .ui-invite{
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  font-size: 0.4rem;
}
.ui-footer .ui-btn{
  border: none;
  background: #44BF29;
  color: #FFF;
  width: 4rem;
  height: 0.8rem;
  line-height: 0.8rem;
  border-radius: 0.06rem;
  font-size: 0.32rem;
}
.ui-footer .ui-role{
  width: 83%;
  margin: auto;
  margin-top: 0.6rem;
}
.ui-footer .ui-role p{
  font-size: 0.3rem;
  text-align: left;
  margin-bottom: 0.2rem;
  color: #999;
  line-height: 0.38rem;
}
[v-cloak]{ display: none !important; }
.ui-header{
  height: 0.7rem;
  line-height: 0.7rem;
  font-size: 0.3rem;
  background: #FFFFFF;
  text-align: center;
  color: #363636;
}
.ui-header .ui-back{
  width: 1.5rem;
  height: 0.7rem;
  position: relative;
}
.ui-header .ui-back i{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.2rem;
  line-height: 0.7rem;
}
