.show{
  padding-top: 0.3rem;
  padding-bottom: 1.65rem;
  position: relative;
  z-index: 1;
}
.show .step{
  display: none;
}
.show .ui-show-step1{
  color: #FFF;
  background: #ccc;
  font-size: 0.28rem;
  text-align: center;
  margin: auto;
  width: 0.75rem;
  border-radius: 0.05rem;
}
.show .ui-show-step2{
  color: #FFF;
  background: #ccc;
  font-size: 0.28rem;
  text-align: center;
  margin: auto;
  width: 80%;
  padding: 0.05rem 0.15rem;
  border-radius: 0.05rem;
  margin-top: 0.3rem;
}
.show .ui-show-step2 span{
  color: cornflowerblue;
}
.show .ui-show-step3{
  margin-top: 0.3rem;
}
.show .ui-show-step3 .show-left{
  float: left;
  background: url('../image/logo.jpg') no-repeat;
  background-size: 100%;
  width: 1rem;
  height: 1rem;
  margin-left: 0.15rem;
}
.show .ui-show-step3 .show-right{
  float: left;
  margin-left: 0.25rem;
  width: 60%;
}
.show .ui-show-step3 .show-right .show-person{
  font-size: 0.28rem;
  color: #999;
  margin-top: 0.05rem;
}
.show .ui-show-step3 .show-right .show-img-01{
  background: url('../image/show-img-01.jpg') no-repeat;
  background-size: 100%;
  width: 2rem;
  height: 3.56rem;
  margin-top: 0.2rem;
  border-radius: 0.05rem;
}
.show .ui-show-step3 .show-right .show-img-02{
  background: url('../image/show-img-02.jpg') no-repeat;
  background-size: 100%;
  width: 2rem;
  height: 3.56rem;
  margin-top: 0.2rem;
  border-radius: 0.05rem;
}
.show .ui-show-step3 .show-right .show-img-03{
  background: url('../image/show-img-03.jpg') no-repeat;
  background-size: 100%;
  width: 2rem;
  height: 3.56rem;
  margin-top: 0.2rem;
  border-radius: 0.05rem;
}
.show .ui-show-step3 .show-right .show-text{
  font-size: 0.28rem;
  background: #FFF;
  padding: 0.05rem 0.15rem;
  border-radius: 0.05rem;
  margin-top: 0.2rem;
}
.show .ui-show-step4{
  color: #FFF;
  background: #ccc;
  font-size: 0.28rem;
  text-align: center;
  margin: auto;
  width: 2.8rem;
  padding: 0.05rem;
  border-radius: 0.05rem;
  margin-top: 0.5rem;
}
.show .ui-show-step4 span{
  color: cornflowerblue;
}
.ui-show-step5 .ui-show-alert{
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5rem;
  text-align: center;
  background: #FFFFFF;
  height: 3.3rem;
  border-radius: 0.07rem;
}
.ui-show-step5 .ui-show-cen{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background: #444;
  opacity: 0.6;
  top: 0;
}
.ui-show-step5 .ui-show-alert .alert-title{
  font-size: 0.25rem;
  margin-top: 0.6rem;
  line-height: 0.35rem;
}
.ui-show-step5 .ui-show-alert .alert-middle{
  font-size: 0.32rem;
}
.ui-show-step5 .ui-show-alert .alert-content{
  font-size: 0.25rem;
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
}
.ui-show-step5 .ui-show-alert .alert-content span{
  color: red;
  font-size: 0.35rem;
  font-weight: bold;
}
.ui-show-step5 .ui-show-alert .alert-btn{
  font-size: 0.3rem;
  border-top: 1px solid #EEE;
  line-height: 0.62rem;
  color: #008000;
}
#show{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.show-footer{
  position: fixed;
  bottom: 0;
  height: 1rem;
  background: #FFF;
  width: 100%;
  z-index: 1;
}
.show-footer .show-voice{
  background: url("../image/voice.png") no-repeat;
  background-size: 100%;
  width: 0.6rem;
  height: 0.6rem;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.2rem;
}
.show-footer .show-plus{
  background: url("../image/plus.png") no-repeat;
  background-size: 100%;
  width: 0.6rem;
  height: 0.6rem;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.2rem;
}
.show-footer .show-input{
  display: inline-block;
  position: absolute;
  width: 4.88rem;
  border-bottom: 1px solid #ddd;
  bottom: 0.18rem;
  left: 0.9rem;
}
.show-footer .show-smile{
  background: url("../image/smile.png") no-repeat;
  background-size: 100%;
  width: 0.6rem;
  height: 0.6rem;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 1rem;
}
.ui-content{
  font-size: 0.28rem;
  height: 2.06rem;
}
.ui-content i{
  font-style: normal;
  font-size: 0.28rem;
}
.ui-content .font-one{
  margin-top: 0.6rem;
}
.ui-content .font-two{
  font-size: 0.24rem;
  margin-top: 0.2rem;
}
.ui-content .font-three{
  margin-top: 0.2rem;
}
.ui-content .font-four{
  font-size: 0.26rem;
  margin-top: 0.4rem;
}
.ui-content .font-four i{
  font-weight: bold;
  font-size: 0.32rem;
}
.ui-content .font-six{
  font-size: 0.24rem;
  margin-top: 0.6rem;
}
.ui-content .font-seven{
  font-size: 0.24rem;
  margin-top: 0.3rem;
}
.ui-content .font-seven i{
  color: green;
  font-size: 0.24rem;
}
.ui-color-red{
  color: red;
}
