#show1{
  position: absolute;
  z-index: 5;
  height: auto;
  overflow: auto;
  width: 100%;
}
.clearfix { display:block; }
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.section{
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  top: -1.5rem;
}
.section .step{
  display: none;
  font-size: 3rem;
}

.footer{
  height: 1rem;
  background: #FFFFFF;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 6;
}
.cen{
  width: 100%;
  height: 100%;
  /* background: red; */
  z-index: 6;
  position: fixed;
  top: 0;
  display: none;
  /* opacity: 0.1; */
}
.section .step{
/*  display: none;*/
}
.section .ui-show-step1{
  color: #FFF;
  background: #ccc;
  font-size: 0.28rem;
  text-align: center;
  margin: auto;
  width: 0.75rem;
  border-radius: 0.05rem;
  margin-top: 0.5rem;
}
.section .ui-show-step2{
  color: #FFF;
  background: #ccc;
  font-size: 0.28rem;
  text-align: center;
  margin: auto;
  width: 80%;
  padding: 0.05rem 0.15rem;
  border-radius: 0.05rem;
  margin-top: 0.3rem;
}
.section .ui-show-step2 span{
  color: cornflowerblue;
}
.section .ui-show-step3{
  margin-top: 0.3rem;
}
.section .ui-show-step3 .show-left{
  float: left;
  //background: url('../image/logo.jpg') no-repeat;
  background-size: 100%;
  width: 1rem;
  height: 1rem;
  margin-left: 0.15rem;
}
.section .ui-show-step3 .show-right{
  float: left;
  margin-left: 0.25rem;
  width: 60%;
}
.section .ui-show-step3 .show-right .show-person{
  font-size: 0.28rem;
  color: #999;
  margin-top: 0.05rem;
}
.section .ui-show-step3 .show-right .show-img-01{
  background: url('../image/show-img-01.jpg') no-repeat;
  background-size: 100%;
  width: 2rem;
  height: 3.56rem;
  margin-top: 0.2rem;
  border-radius: 0.05rem;
}
.section .ui-show-step3 .show-right .show-img-02{
  background: url('../image/show-img-02.jpg') no-repeat;
  background-size: 100%;
  width: 2rem;
  height: 3.56rem;
  margin-top: 0.2rem;
  border-radius: 0.05rem;
}
.section .ui-show-step3 .show-right .show-img-03{
  background: url('../image/show-img-03.jpg') no-repeat;
  background-size: 100%;
  width: 2rem;
  height: 3.56rem;
  margin-top: 0.2rem;
  border-radius: 0.05rem;
}
.section .ui-show-step3 .show-right .show-text{
  font-size: 0.28rem;
  background: #FFF;
  padding: 0.05rem 0.15rem;
  border-radius: 0.05rem;
  margin-top: 0.2rem;
}
.section .ui-show-step4{
  color: #FFF;
  background: #ccc;
  font-size: 0.28rem;
  text-align: center;
  margin: auto;
  width: 2.8rem;
  padding: 0.05rem;
  border-radius: 0.05rem;
  margin-top: 0.5rem;
}
.section .ui-show-step4 span{
  color: cornflowerblue;
}
.footer .show-voice{
  background: url("../image/voice.png") no-repeat;
  background-size: 100%;
  width: 0.6rem;
  height: 0.6rem;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.2rem;
}
.footer .show-plus{
  background: url("../image/plus.png") no-repeat;
  background-size: 100%;
  width: 0.6rem;
  height: 0.6rem;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.2rem;
}
.footer .show-input{
  display: inline-block;
  position: absolute;
  width: 4.88rem;
  border-bottom: 1px solid #ddd;
  bottom: 0.18rem;
  left: 0.9rem;
}
.footer .show-smile{
  background: url("../image/smile.png") no-repeat;
  background-size: 100%;
  width: 0.6rem;
  height: 0.6rem;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 1rem;
}
.ui-show-cen1{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 6;
  background: #444;
  opacity: 0.6;
  top: 0;
  display: none;
}
.ui-show-alert1{
  position: fixed;
  z-index: 7;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5rem;
  text-align: center;
  background: #FFFFFF;
  height: 3.3rem;
  border-radius: 0.07rem;
  display: none;
}
.ui-show-alert1 .alert-title{
  font-size: 0.25rem;
  margin-top: 0.6rem;
  line-height: 0.35rem;
}
.ui-show-alert1 .alert-middle{
  font-size: 0.32rem;
}
.ui-show-alert1 .alert-content{
  font-size: 0.25rem;
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
}
.ui-show-alert1 .alert-content span{
  color: red;
  font-size: 0.35rem;
  font-weight: bold;
}
.ui-show-alert1 .alert-btn{
  font-size: 0.3rem;
  border-top: 1px solid #EEE;
  line-height: 0.62rem;
  color: #008000;
}
